/*****************************
        SHOP SIDEBAR
*****************************/
#shop-sidebar li a {
  color: #000;
  text-decoration: none;
  display: flex;
}

#shop-sidebar li:hover > a {
  color: var(--blue-kidimat);
}

#shop-sidebar li.current-cat > a {
  color: var(--blue-kidimat);
  font-weight: 700;
}

#shop-sidebar li.cat-parent a {
  position: relative;
}
#shop-sidebar li.cat-parent > a::before {
  content: "+";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#shop-sidebar li.current-cat.cat-parent > a::before,
#shop-sidebar li.current-cat-parent.cat-parent > a::before {
  content: "-";
  color: var(--blue-kidimat);
  font-weight: bold;
}

#shop-sidebar li ul.children {
  display: none;
}

#shop-sidebar li.current-cat > ul,
#shop-sidebar li.current-cat-parent > ul {
  display: block;
}

#shop-sidebar ul.product-categories {
  list-style: none;
  padding-inline-start: 0;
}

#shop-sidebar li.cat-item {
  border-bottom: 1px solid;
}
#shop-sidebar li.cat-item a {
  padding: 1rem 0.5rem;
}

#shop-sidebar ul.children li.cat-item {
  border-bottom: none;
}

#shop-sidebar ul.children li.cat-item a {
  padding: 0.5rem 0;
}

/*
.widget_price_filter .ui-slider-horizontal {
  height: 10px;
  position: relative;
  margin-bottom: 1em;
  background-color: #d3d3d3;
  border-radius: 4px;
}

.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background: var(--blue-kidimat);
  height: 100%;
}

.widget_price_filter .ui-slider .ui-slider-handle:nth-child(2) {
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  background: #fff;
  border: 2px solid var(--blue-kidimat);
  outline: 0;
  top: -2px;
  left: 0;
  margin-left: -2px;
}

.widget_price_filter .ui-slider .ui-slider-handle:nth-child(3) {
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  background: #fff;
  border: 2px solid var(--blue-kidimat);
  outline: 0;
  top: -2px;
  right: 0;
  margin-left: -2px;
}

.widget_price_filter .price_slider_amount {
  margin-top: 2rem;
}
.widget_price_filter .price_slider_amount .price_label {
  padding-top: 5px;
}

.widget_price_filter .price_slider_amount .button {
  float: right;
}
*/
.widget_layered_nav li.chosen a,
.widget_layered_nav_filters li.chosen a {
  padding-left: 20px;
  padding-right: 10px;
  position: relative;
  color: var(--blue-kidimat) !important;
  border: 1px solid var(--blue-kidimat);
  background-color: #fff;
}

.widget_layered_nav_filters li.chosen a:before {
  content: "x";
  display: inline-block;
  position: absolute;
  font-size: 14px;
  top: 50%;
  left: 8px;
  margin-top: -9px;
  width: 20px;
  z-index: 1;
}

#shop-sidebar aside {
  border-top: 1px solid #bab6bc;
}

@media screen and (max-width: 768px) {
  #shop .row {
    margin-left: 15px;
    margin-right: 15px;
  }

  #shop-sidebar li.cat-parent > a::before {
    right: 20px;
  }

  #shop .products .product-item {
    width: 50%;
  }

  #shop .products.row {
    margin: auto;
  }

  #shop #content {
    margin-left: 0 !important;
  }

  #shop .woocommerce-result-count {
    margin-right: 0 !important;
  }

  .products-filter .products-page-filter {
    padding-bottom: 2rem;
  }

  #primary {
    margin-left: 15px;
    margin-right: 15px;
  }

  #primary .product-summary {
    padding-left: 0 !important;
  }

  .single-product .kidimat-add-to-cart-btn,
  .single-product .single_add_to_cart_button {
    padding: 0 2rem 0 2rem;
  }

  .single-product input.qty,
  #woocommerce-product-search-field-0 {
    padding: 0.3rem;
  }

  .single-product .product-single-image .woocommerce-product-gallery {
    display: block;
  }

  .woocommerce-product-gallery ol {
    display: flex;
  }

  .woocommerce-product-gallery ol li {
    margin-right: 0.5rem;
  }
}
