:root {
  --blue-kidimat: #2991d6;
  --blue-kidimat-light: #8dc4e9;
}

body {
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  letter-spacing: 0.04rem;
}

h5 {
  font-size: 1.25em;
}

#primary {
  margin: 2rem 0;
}

.page-single-title {
  font-size: 2rem;
  color: var(--blue-kidimat);
}

#page,
#home {
  margin-bottom: 4rem;
  min-height: 55vh;
  position: relative;
}

button,
input {
  font-family: "Roboto", sans-serif !important;
}

figure {
  margin-top: 0;
}

.attachment-post-thumbnail {
  width: 100%;
  height: auto;
}
/*****************************
        NAVIGATION 
*****************************/
#header-menu {
  /*border-bottom: 1px solid #bab6bc;*/
  box-shadow: 0 12px 10px -4px #dad6d6;
}

.logo-mobile {
  display: none;
}

#header-menu .mobile-menu {
  display: none;
}

#navigation-principale .menu li {
  padding: 10px 1.04vw;
}

#navigation-principale .menu li a,
#navigation-principale-mobile .menu li a {
  text-decoration: none;
  color: #000;
}

#navigation-principale .menu li a:hover {
  color: var(--blue-kidimat);
  padding-bottom: 7px;
  border-bottom: 3px solid var(--blue-kidimat);
}

#navigation-principale .menu li.current-menu-item a {
  color: var(--blue-kidimat);
  font-weight: 700;
}

.woocommerce-product-search button {
  background-color: #eeeef0;
  border: none;
  vertical-align: middle;
}

.woocommerce-product-search button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.woocommerce-product-search button img {
  width: 25px;
  height: 25px;
}

#header-menu .search-and-account {
  background-color: #eeeef0;
  padding-left: 1rem;
  position: relative;
}

#header-menu .search-and-account::after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 0;
  height: 0;
  border-color: transparent #eeeef0 transparent transparent;
  border-style: solid;
  border-width: 0 4rem 4rem 0;
}

#header-menu .space-header {
  margin-left: 10vw;
}

#header-menu #cart-account .header-icons {
  width: 28px;
}

#header-menu #cart-account .icon-header {
  height: 59px;
  width: 59px;
  border: 2px solid var(--blue-kidimat);
  background-color: var(--blue-kidimat);
  text-align: center;
  position: relative;
}

#header-menu #cart-account .icon-header:hover {
  background: #fff;
  cursor: pointer;
}

#header-menu #cart-account .icon-header:hover svg {
  fill: var(--blue-kidimat);
}

#header-menu #cart-account .icon-header:hover .cart-count {
  border-color: var(--blue-kidimat);
}

#header-menu #cart-account .connexion-header {
  text-align: center;
  border: 2px solid var(--blue-kidimat);
  background-color: var(--blue-kidimat);
  height: 43px;
  padding: 0.5rem;
}

#header-menu #cart-account .connexion-header p,
#header-menu #cart-account .connexion-header a {
  margin: 0;
  color: #fff;
  text-decoration: none;
}

#header-menu #cart-account .connexion-header:hover {
  background: #fff;
}

#header-menu #cart-account .connexion-header:hover p {
  color: var(--blue-kidimat);
}

#header-menu #cart-account .connexion-header:hover svg {
  fill: var(--blue-kidimat);
}

#header-menu #icon-account {
  margin-right: 1px;
}

#header-menu #cart-account svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  fill: #ffffff;
}

#header-menu #icon-account svg {
  top: 35%;
}

#icon-cart .cart-count,
#icon-cart-mobile .cart-count {
  padding: 3px 5px;
  position: absolute;
  top: 19%;
  left: 37px;
  display: inline-block;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 13px;
  border-radius: 50%;
  border: 2px solid #fff;
}
/*****************************
        FRONT PAGE
*****************************/
#front-page h1 {
  font-size: 2.5em;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
}

#front-page h2 {
  margin-block-end: 2em;
}

#front-page h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  position: relative;
}

#front-page h3::after {
  content: "";
  position: absolute;
  width: 75px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid var(--blue-kidimat);
}

#front-page h4 {
  width: 80%;
  margin: 2rem auto;
}

#front-page .woocommerce {
  width: 80%;
  margin: auto;
}

#front-page .woocommerce ul li.product {
  outline: 1px solid #e4e4e4;
  border-bottom: 4px solid var(--blue-kidimat);
  padding-bottom: 1rem;
}

#front-page .woocommerce ul li img {
  border-bottom: 3rem solid var(--blue-kidimat);
}

#front-page
  .woocommerce
  ul.products
  li.product
  .woocommerce-loop-product__title {
  color: #000;
  padding: 0.5em;
}

.woocommerce ul.products li.product .price {
  color: var(--blue-kidimat);
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.5em;
}

#front-page ul.products li a.add_to_cart_button {
  display: none;
}

#front-page .wp-block-button__link {
  font-weight: 700;
  margin-bottom: 2em;
}

#front-page .wp-block-button__link:hover {
  color: #fff !important;
  background-color: var(--blue-kidimat) !important;
}

#front-page .homepage-slider {
  margin: 5em 0;
}

#front-page .homepage-slider .slick-prev,
#front-page .homepage-slider .slick-next {
  display: none !important;
}

#front-page .card-img {
  margin: 5px 0;
}

#front-page .img-slider {
  border: 1px solid white;
  padding: 3px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

#front-page .homepage-slider .slick-dots li button:before {
  font-size: 12px;
}

#front-page .wp-block-image img {
  width: 100%;
  height: auto;
}

/*****************************
        FOOTER
*****************************/
#blog-footer {
  background-color: #eeeef0;
  box-shadow: 0 -12px 10px -4px #dad6d6;
}

.social-media-icons li {
  list-style: none;
  width: 35px;
  height: 35px;
}

#menu-footer {
  padding-inline-start: 0;
}

#menu-footer li {
  margin: 10px 0;
  list-style: none;
}

#menu-footer li::before {
  content: "•";
  font-size: 20px;
  margin-right: 1.5rem;
}

#menu-footer li a {
  text-transform: uppercase;
  color: #000;
}

#menu-footer li a:hover {
  color: var(--blue-kidimat);
}

/*****************************
        SHOP PAGE
*****************************/
#shop,
#locations {
  min-height: 100vh;
}

#shop img,
#locations img {
  max-width: 100%;
  height: auto;
}

#shop form.woocommerce-ordering,
#locations form.woocommerce-ordering {
  position: relative;
}

#shop form.woocommerce-ordering select,
#locations form.woocommerce-ordering select {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  -webkit-appearance: none;
  background: #fff;
  border-radius: 4px;
}

#shop form.woocommerce-ordering .select-wrapper--ico,
#locations form.woocommerce-ordering .select-wrapper--ico {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  transition: all 0.15s ease;
  right: 1rem;
  pointer-events: none;
  z-index: 2;
  width: 22px;
}

ul.products {
  list-style: none;
  flex-wrap: wrap;
  padding-inline-start: 0;
  margin: auto;
}

ul.products li.product {
  margin: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #bab6bc;
}

ul.products li.product a.woocommerce-LoopProduct-link {
  text-decoration: none;
}

ul.products li.product h2 {
  color: #000;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 2rem;
  height: 2.5rem;
}

ul.products li.product span.price,
ul.products li.product div.pro_price {
  color: #000;
  font-weight: 700;
  font-size: 1.4rem;
}

ul.products li.product a.add_to_cart_button {
  display: none;
}

.products-filter .woocommerce-result-count,
.products-filter .products-page-filter,
.products-filter .woocommerce-ordering {
  display: inline-block;
}

.products-filter .products-page-filter {
  padding-left: 0.7rem;
  padding-right: 2rem;
}

.products-filter .products-page-filter span {
  margin-right: 0.7rem;
}

.products-filter .products-page-filter a {
  margin: 0 2px;
  padding: 8px 13px;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  background: #d1d1d1;
  text-transform: uppercase;
}

.products-filter .products-page-filter a.active,
.products-filter .products-page-filter a:hover {
  color: #fff !important;
  background-color: var(--blue-kidimat);
}

nav.woocommerce-pagination {
  text-align: center;
  margin-bottom: 3rem;
}

nav.woocommerce-pagination ul {
  list-style: none;
  padding-inline-start: 0;
  display: inline-flex;
  flex-wrap: wrap;
}

nav.woocommerce-pagination ul li {
  margin-bottom: 2rem;
}

nav.woocommerce-pagination ul li span,
nav.woocommerce-pagination ul li a {
  background-color: #d1d1d1;
  padding: 9px 13px;
  margin: 0 2px;
  color: #000;
  text-decoration: none;
}

nav.woocommerce-pagination ul li span.current {
  color: #fff !important;
  background-color: var(--blue-kidimat);
}

nav.woocommerce-pagination ul li a:hover {
  color: #fff !important;
  background-color: var(--blue-kidimat);
}

/*****************************
        SINGLE PAGE PRODUCT
*****************************/
nav.woocommerce-breadcrumb {
  margin-left: 2rem;
}

nav.woocommerce-breadcrumb a,
.single-product .product .zoom-img-text,
nav.woocommerce-breadcrumb {
  color: #554f52;
  text-decoration: none;
  font-size: 0.9rem;
}

nav.woocommerce-breadcrumb a:hover {
  color: var(--blue-kidimat);
  cursor: pointer;
}

.single-product h3 {
  font-size: 2rem;
  font-weight: normal;
}

.single-product .product-single-image .woocommerce-product-gallery {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.single-product .product-single-image .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  font-size: 1.5rem;
}

.single-product .product-single-image ol {
  list-style: none;
  padding-inline-start: 0;
}

.single-product #product-single-image-div ol li img {
  border: 1px solid #eeeef0;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.single-product #product-single-image-div ol li img.flex-active {
  border: 1px solid #554f52;
}

.single-product #product-single-image-div .flex-viewport {
  height: unset;
  border: 1px solid #eeeef0;
  margin-left: 0.5rem;
  border-radius: 4px;
}

.single-product #product-single-image-div figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.single-product
  #product-single-image-div
  figure
  .woocommerce-product-gallery__image {
  text-align: center;
}

.single-product
  #product-single-image-div
  figure
  .woocommerce-product-gallery__image
  img {
  max-width: 100% !important;
  height: auto !important;
}

.single-product
  #product-single-image-div
  .woocommerce-product-gallery__image
  img {
  cursor: zoom-in;
}

.single-product h1.product_title {
  display: none;
}

.single-product .price,
.single-product .pro_price {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1rem;
}

.single-product .woocommerce-variation-price {
  margin-bottom: 1rem;
}

.single-product form.cart {
  border-top: 1px solid #bab6bc;
}

.single-product .kidimat-add-to-cart-btn,
.single-product .single_add_to_cart_button {
  width: 62%;
  font-size: 1.125rem;
  padding: 0 4rem 0 2rem;
}

.single-product .woocommerce-variation-add-to-cart {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex;
}

.single-product .quantity {
  width: 38%;
  align-items: stretch;
  display: flex;
}

.single-product .kidimat-add-to-cart-btn button,
.single-product .single_add_to_cart_button {
  font-size: 1.125rem;
  width: 100%;
  min-height: 3.5rem;
  min-width: 3.5rem;
  padding: 0.25rem 2rem;
  color: #fff;
  background-color: var(--blue-kidimat);
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid transparent;
  cursor: pointer;
}

.woocommerce table.shop_table td .quantity {
  display: flex;
}

.woocommerce table.shop_table td .quantity button {
  color: #fff;
  background: var(--blue-kidimat);
  font-size: 1.125rem;
  line-height: 1.3333;
  width: 35px;
  cursor: pointer;
  outline: none;
  border: none;
}

.woocommerce table.shop_table td .quantity input {
  border-width: 0;
  background-color: #f2f2f2;
  color: #000;
  font-weight: 600;
}

.single-product .kidimat-counter-button-right,
.single-product .kidimat-counter-button-left {
  border: 2px solid var(--blue-kidimat);
  color: var(--blue-kidimat);
  background: #fff;
  font-size: 1.125rem;
  line-height: 1.3333;
  width: 52px;
  cursor: pointer;
}

.single-product .kidimat-counter-button-right:focus,
.single-product .kidimat-counter-button-left:focus {
  outline: none;
}

.single-product .single_variation_wrap {
  text-align: right;
}

.single-product .variations {
  margin: 2rem 0 1rem;
}

.single-product .variations .label label {
  font-weight: bold;
  margin-right: 1.5rem;
}

.single-product .variations select {
  font-size: 1.3rem;
  padding: 0.4rem;
}

.single-product .variations .reset_variations {
  display: none;
}

.single-product input.qty,
#woocommerce-product-search-field-0 {
  border: 1px solid #bab6bc !important;
  border-width: 1px 0 !important;
  text-align: center;
  padding: 1rem;
}

#woocommerce-product-search-field-0 {
  border-width: 0 0 1px !important;
  text-align: left;
  background-color: #eeeef0;
}

#woocommerce-product-search-field-0:focus {
  outline: none;
  border-width: 0 0 1px;
}

.single-product .kidimat-counter-button-right,
.woocommerce table.shop_table td .quantity .kidimat-counter-button-right {
  border-radius: 0 4px 4px 0;
}

.single-product .kidimat-counter-button-left,
.woocommerce table.shop_table td .quantity .kidimat-counter-button-left {
  border-radius: 4px 0 0 4px;
}

.single-product .kidimat-counter-button-left:disabled {
  border: 2px solid var(--blue-kidimat-light);
  color: var(--blue-kidimat-light);
  cursor: unset;
}

.single-product .product_meta {
  margin-top: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.single-product .product_meta a {
  text-decoration: none !important;
  font-weight: normal;
}

.single-product .woocommerce-tabs ul.tabs {
  display: flex;
  list-style: none;
  box-shadow: 0 2px 3px 0 rgba(85, 79, 82, 0.2);
}

.single-product .woocommerce-tabs ul.tabs li {
  padding: 1.5rem;
}

.single-product .woocommerce-tabs ul.tabs li a {
  text-decoration: none;
  color: #000;
}

.single-product .woocommerce-tabs ul.tabs li a:hover {
  color: var(--blue-kidimat);
}

.single-product .woocommerce-tabs ul.tabs li.active {
  border-bottom: 3px solid var(--blue-kidimat);
}

.single-product .woocommerce-tabs ul.tabs li.active a {
  color: var(--blue-kidimat);
}

.single-product .woocommerce-tabs h2,
.single-product .related-title h2 {
  text-align: center;
  font-size: 2rem;
}

.single-product .woocommerce-tabs h2:after,
.single-product .related-title h2:after {
  content: "";
  width: 4rem;
  height: 3px;
  background-color: var(--blue-kidimat);
  display: block;
  margin: 0.8rem auto 0;
}

.woocommerce-Tabs-panel--description {
  display: block !important;
}

.single-product .woocommerce-tabs .woocommerce-Tabs-panel--description p,
.single-product .woocommerce-tabs #comments,
.single-product #review_form_wrapper {
  width: 60%;
  margin: auto;
}

.single-product .woocommerce-tabs #comments ol {
  list-style: none;
}

.single-product .woocommerce-tabs #comments ol li {
  padding: 2rem;
  background-color: #eeeef0;
}

.single-product .woocommerce-tabs #comments ol li .star-rating {
  float: right;
}
.single-product .woocommerce-tabs #comments ol li .description {
  background-color: white;
  padding: 1rem;
}

.single-product .woocommerce-tabs #comments ol li .description p {
  margin-left: 1rem;
}

#review_form_wrapper #reply-title {
  font-weight: 600;
}

#review_form_wrapper .comment-form-rating,
.single-product .product-summary .woocommerce-product-rating {
  display: flex;
}

ul.products .starwrapper {
  display: none;
}

.single-product .custopro .price,
.custopro .product .price {
  display: none;
}

.single-product .locations .quantity {
  display: none !important;
}

.locations .contact-box {
  box-shadow: 0px 15px 80px -6px rgb(0 0 0 / 30%);
  padding: 60px 0;
}

.locations .contact-box .wpcf7 input {
  border-width: 0;
  border-color: #dfdfe3;
  border-bottom-width: 1px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 50%;
}

.locations .contact-box .wpcf7 .required {
  color: red;
}

.locations .contact-box .wpcf7 textarea {
  border-width: 1px;
  border-color: #dfdfe3;
  background-color: rgba(12, 12, 12, 0.02);
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  width: 50%;
}

.wpcf7 .ajax-loader {
  position: absolute;
}
/**********************************
    WOOCOMMERCE SEARCH PRODUCT
**********************************/
.widget_product_search {
  overflow: auto;
}

.widget_product_search #searchform {
  float: left;
}

.widget_product_search input[type="text"],
.widget_product_search button[type="submit"] {
  border-radius: 0;
  padding: 6px;
}
.widget_product_search input[type="text"] {
  width: 200px;
  float: right;
  padding: 6px;
}

.widget_product_search button[type="submit"] {
  float: right;
}

.widget_product_search button[type="submit"]:hover,
.widget_product_search button[type="submit"]:focus {
  background: #f9ba00;
  border: #fff 1px solid;
  color: #000;
}

/**********************************
          CART PAGE
**********************************/
.woocommerce table.cart img {
  width: 200px;
}

.woocommerce table.shop_table td a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.woocommerce table.shop_table td.product-price .woocommerce-Price-amount {
  color: #7f7f7f;
  font-size: 1rem;
}

.woocommerce table.shop_table td .woocommerce-Price-amount {
  color: #515151;
  font-size: 1.5rem;
}

.woocommerce .wc-proceed-to-checkout a.button.alt,
.woocommerce #payment #place_order {
  float: right;
  background-color: var(--blue-kidimat);
  color: #000;
}

.woocommerce .wc-proceed-to-checkout a.button.alt:hover,
.woocommerce #payment #place_order:hover {
  color: #fff;
}

/**********************************
          CHECKOUT PAGE
**********************************/
.woocommerce-checkout h3 {
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}

.woocommerce-checkout .woocommerce-billing-fields,
.woocommerce-checkout .woocommerce-additional-fields,
.woocommerce-checkout .woocommerce-shipping-fields {
  padding: 1rem;
}

.woocommerce form .form-row label {
  text-transform: uppercase;
}

.woocommerce form .form-row input.input-text {
  padding: 5px;
}

/**********************************
          CHECKOUT PAGE
**********************************/
.account-page .woocommerce {
  display: flex;
}

.account-page .woocommerce nav.woocommerce-MyAccount-navigation {
  width: 25%;
}

.account-page .woocommerce .woocommerce-MyAccount-content {
  padding-left: 3%;
  width: 72%;
}

.account-page nav.woocommerce-MyAccount-navigation ul {
  border: 1px solid #000;
  padding-inline-start: 0;
  list-style: none;
}

.account-page nav.woocommerce-MyAccount-navigation ul li {
  padding: 0.5rem;
  border-bottom: 1px solid #000;
}

.account-page nav.woocommerce-MyAccount-navigation ul li a {
  color: #000;
}

.account-page nav.woocommerce-MyAccount-navigation ul li.is-active a {
  color: var(--blue-kidimat);
}

.account-page .tab-bar-item {
  background-color: #fff;
  border: 1px solid #d3ced2;
}

.account-page .tab-bar-item.is-active {
  background-color: var(--blue-kidimat);
  color: #fff;
}

.account-page .tab-bar-item.is-active:hover {
  background-color: var(--blue-kidimat-light);
}

.woocommerce button.button:focus {
  outline: none;
}

#tab-container.retail #company-field,
#tab-container.retail #code_NAF_field {
  display: none;
}

.form-contact p {
  line-height: 1.4rem;
  letter-spacing: 0.05rem;
}

.form-contact .wpcf7 {
  text-align: center;
}

.form-contact .left-column {
  box-shadow: 0px 15px 80px -6px rgba(0, 0, 0, 0.3);
  padding: 60px;
}

.form-contact h4 {
  font-size: 2.3rem !important;
  font-weight: 700 !important;
}

.form-contact .wpcf7 .required {
  color: red;
}

.form-contact .wpcf7 input {
  border-width: 0;
  border-color: #dfdfe3;
  border-bottom-width: 1px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 85%;
}

.form-contact .wpcf7 label {
  margin-bottom: 0.5rem;
}

.form-contact .wp-block-column:nth-child(1) {
  margin-top: -200px;
  background-color: #fff;
  margin-bottom: 150px;
}

.form-contact .wpcf7 textarea {
  border-width: 1px;
  border-color: #dfdfe3;
  background-color: rgba(12, 12, 12, 0.02);
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  width: 85%;
}

.form-contact .wpcf7 textarea:focus,
.btn-kidimat:focus {
  outline: none;
}

.btn-kidimat {
  background-color: var(--blue-kidimat);
  color: #fff;
  padding: 0.8em 1em;
  cursor: pointer;
  text-transform: uppercase;
  width: 40%;
  font-weight: 700;
  letter-spacing: 0.08rem;
}

.btn-kidimat:hover {
  background-color: var(--blue-kidimat-light);
}

/**********************************
        PAGE ARCHIVE ARTICLES
**********************************/
#home a {
  color: unset;
  text-decoration: unset;
}

#home h2 {
  font-size: 2rem;
  font-weight: bold;
}

#home h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

#home .img-blogpost {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 70%;
  margin-bottom: 12px;
}

#home .img-blogpost img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home .col-md-6 .img-blogpost img {
  width: auto;
}

#home .col-md-12 .excerpt {
  font-size: 1.25rem;
}

#home .article-desc {
  align-self: center;
}

.img-thumbnail img {
  max-height: 50vh !important;
  width: auto !important;
  margin: auto;
}

/**********************************
    FRONT PAGE LATEST POST
**********************************/
.wp-block-latest-posts__list li a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  width: 50%;
  margin-left: 1rem;
}

.wp-block-latest-posts__list li a.wp-block-latest-posts__featured-image {
  margin-left: 0;
}

.wp-block-latest-posts__list li a:hover img {
  transform: scale(1.1);
}

.wp-block-latest-posts__list li a:hover {
  text-decoration: underline;
}

#front-page .wp-block-latest-posts.is-grid li {
  box-shadow: 5px 5px 17px 0px #dad6d6;
  padding: 1rem 0;
}

#front-page .wp-block-latest-posts__post-excerpt {
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .logo-desktop,
  #icon-account a p,
  #navigation-principale,
  .woocommerce-product-search,
  #header-menu .search-and-account::after {
    display: none;
  }

  .logo-mobile,
  #header-menu .mobile-menu {
    display: flex;
  }

  .logo-mobile {
    max-width: 80px;
  }

  #header-menu .mobile-menu,
  #header-menu .row .logo-icons,
  #header-menu .row .space-header {
    width: 33.33vw;
    margin-left: 0;
  }

  #header-menu .search-and-account {
    background: #fff;
    padding-left: 0;
    float: right;
  }

  #header-menu .mobile-menu img {
    margin: auto 0 auto 20px;
  }

  #navigation-principale-mobile .menu li {
    list-style: none;
    font-size: 20px;
    padding: 1rem 0;
  }

  #front-page {
    margin: 0 15px;
  }

  #front-page h1 {
    font-size: 2em;
  }

  #front-page .wp-block-image {
    margin-left: -15px;
    margin-right: -15px;
  }

  #front-page .woocommerce {
    width: 100%;
  }

  #front-page .woocommerce ul.products li.product {
    width: 48%;
    margin: 0 1% 2.992em;
  }

  #front-page .wp-block-latest-posts.is-grid li {
    margin: 0 1.25em 1.25em;
  }

  #front-page .img-slider {
    width: 100%;
  }

  #blog-footer .row {
    margin: 0 15px;
  }

  #home .img-blogpost {
    margin-bottom: unset;
    padding: 0 !important;
  }

  #home .img-blogpost img {
    position: static;
    top: unset;
    left: unset;
    transform: unset;
  }
  .single,
  .cart,
  #order_review,
  #order_review_heading {
    margin-left: 15px;
    margin-right: 15px;
  }

  .form-contact .left-column {
    padding: 20px;
  }

  .form-contact .wp-block-column:nth-child(1) {
    margin-top: 0px;
  }

  .form-contact h4 {
    font-size: 2rem;
  }
}
